{% load static%}
<footer style="margin-top: 7rem;">
    <div class="container">
        <nav class="footer-nav ml-3">
            <div class="col">
                <h6 class="mb-3">About Us</h6>
                <ul>
                    <li><a href="#">Our History</a></li>
                    <li><a href="#">Leadership Team</a></li>
                    <li><a href="#">Values in Action</a></li>
                    <li><a href="#">Investor Relations</a></li>
                    <li><a href="#">News & Notifications</a></li>
                    <li><a href="#">Franchiso Info</a></li>
                    <li><a href="#">Recalls & Alerts</a></li>
                    <li><a href="#">Digital Accessibility</a></li>
                    <li><a href="#">Our Food, Your Questions</a></li>
                </ul>
            </div>
            <div class="col">
                <h6 class="mb-3">Careers</h6>
                <ul>
                    <li><a href="#">Education Opportunities</a></li>
                    <li><a href="#">Employee Perks</a></li>
                    <li><a href="#">Meet Our People: Staff & Management</a></li>
                    <li><a href="#">Working with Us</a></li>
                    <li><a href="#">Apply Now</a></li>
                </ul>
            </div>
            <div class="col">
                <h6 class="mb-3">Services</h6>
                <ul>
                    <li><a href="#">Wi-Fi</a></li>
                    <li><a href="#">Arch Card®</a></li>
                    <li><a href="#">PlayPlaces & Parties</a></li>
                    <li><a href="#">McDelivery®</a></li>
                    <li><a href="#">Mobile Order & Pay</a></li>
                    <li><a href="#">Download App</a></li>
                    <li><a href="#">McDonald’s Merchandise</a></li>
                </ul>
            </div>
            <div class="col">
                <h6 class="mb-3">Community</h6>
                <ul>
                    <li><a href="#">HACER® Scholarships for</a></li>
                    <li><a href="#">Hispanic Students</a></li>
                    <li><a href="#">Ronald McDonald House</a></li>
                    <li><a href="#">Charities</a></li>
                    <li><a href="#">McDonald's APA</a></li>
                    <li><a href="#">McDonald’s International</a></li>
                    <li><a href="#">Black & Positively Golden</a></li>
                </ul>
            </div>
            <div class="col">
                <h6 class="mb-3">Contact Us</h6>
                <ul>
                    <li><a href="#">Arch Card</a></li>
                    <li><a href="#">Donations</a></li>
                    <li><a href="#">Employment</a></li>
                    <li><a href="#">Mobile App Feedback</a></li>
                    <li><a href="#">Restaurant Feedback</a></li>
                </ul>
            </div>
        </nav>
        <nav class="global-footer-nav">
            <div class="mcd-profiles d-flex justify-content-between">
                <div class="socials">
                    <ul>
                        <li>
                            <a href="http://facebook.com/McDonaldsUS" target="_blank"><img src="{%static './image/Social_Icons/icons8-facebook-circled-32.png'%}" alt="facebook icon"></a>
                        </li>
                        <li>
                            <a href="http://Twitter.com/McDonalds" target="_blank"><img src="{%static '/image/Social_Icons/icons8-twitter-circled-32.png'%}" alt="twitter icon"></a>
                        </li>
                        <li>
                            <a href="http://youtube.com/c/McDonalds" target="_blank"><img src="{%static 'image/Social_Icons/iconfinder_youtube_1632538.png'%}" alt="youtube icon"></a>
                        </li>
                        <li>
                            <a href="http://mcdonalds.tumblr.com" target="_blank"><img src="{%static 'image/Social_Icons/iconfinder_tumblr_circle_color_107171.png'%}" alt="tumblr icon"></a>
                        </li>
                        <li>
                            <a href="http://instagram.com/McDonalds" target="_blank"><img src="{%static 'image/Social_Icons/iconfinder_Popular_Social_Media-08_2329265.png'%}" alt="instagram icon"></a>
                        </li>
                        <li>
                            <a href="https://open.spotify.com/user/mcdonalds" target="_blank"><img src="{%static 'image/Social_Icons/iconfinder_Spotify_1298766.png'" alt="spotify icon"></a>
                        </li>
                    </ul>
                </div>
                <div class="apps">
                    <ul>
                        <li>
                            <a href="https://itunes.apple.com/us/app/mcdonalds-mobile/id922103212?mt=8" target="_blank">
                                <img src="{%static 'image/App_Store_Badge.png'%}" alt="App Store Badge" class="app-store">
                            </a>
                        </li>
                        <li>
                            <a href="https://play.google.com/store/apps/details?id=com.mcdonalds.app&hl=en" target="_blank">
                                <img src="{%static 'image/unnamed.png'%}" alt="Google Play Store Badge" class="play-store">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="mcd-legal d-flex justify-content-between">
            <ul class="links">
                <li class="links-item"><a href="#">Privacy (Updated)</a></li>
                <li class="links-item"><a href="#">Terms & Conditions</a></li>
                <li class="links-item"><a href="#">Accessibility</a></li>
                <li class="links-item"><a href="#">Do Not Sell My Info</a></li>
            </ul>
            <div class="details">
                <p class="copyright">
                    <img src="{%static 'image/arches-logo_108x108.jpg'%}" alt="brand logo">

                    © 2017 - 2020 McDonald's. All Rights Reserved
                </p>
            </div>
        </div>
    </div>
</footer>
<script src="{% static 'js/bootstrap.min.js'%}"></script>
<script src="{% static 'js/main.js'%}"></script>
<script src="{% static 'js/jquery-3.3.1.slim.min.js'%}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>