{%load static%}
    <header>
        <div class="container">
            <nav>
                <a href="https://www.mcdonalds.com/us/en-us.html"><img src="{%static 'image/arches-logo_108x108.jpg'%}" alt="Logo" id="logo"></a>
                <div id="nav">
                    <div class="nav1">
                        <div class="nav1-left">
                            <ul>
                                <li><a href="https://www.offers.com/mcdonalds/?creative=77790515035712&device=c&keyword=30809504895&path=zof-112607-ncb-100g1a&source=s&msclkid=8a521acb1c3e173d0a3445596d17262c">Sign Up</a></li>/
                                <li><a href="https://www.offers.com/mcdonalds/?creative=77790515035712&device=c&keyword=30809504895&path=zof-112607-ncb-100g1a&source=s&msclkid=8a521acb1c3e173d0a3445596d17262c"> Sign in</a></li>
                            </ul>
                        </div>
                        <div class="nav1-right">
                            <ul>
                                <li><a href="https://www.mcdonalds.com/us/en-us/contact-us/restaurant-feedback.html"><img
                                        src="../static/image/icons8-search-128.png" alt="search icon" style="width: 20px; margin-top: -3px"></i> Search</a></li>
                                <li><a href="#shopcart"><img src="../static/image/icons8-shopping-cart-50.png" alt="cart" style="width: 20px; margin-top: -5px"> My cart</a></li>
                                <li>
                                    <a href="https://play.google.com/store/apps/details?id=com.mcdonalds.app&hl=en" class="btn-prm" style="font-size: 16px;" data-toggle="modal" data-target="#exampleModalCenter">Order on Uber Eats</a>

                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content text-center">
                                            <div class="modal-header text-centerb">
                                            <h5 class="modal-title " id="exampleModalLongTitle">Leaving McDonald's Website</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            </div>
                                            <div class="modal-body pl-5 pr-5">
                                                <p class="pr-5">https://www.ubereats.com/en-US/mcdonalds/?utm_source=mcdonalds_US&utm_medium=website&utm_content=homepage</p>
                                                <div class="headline-ltxt">
                                                    <span>
                                                        You are leaving the McDonald's Corporation web site for a site that is controlled by a third party, not affiliated with McDonald's. The content and policies, including the privacy policy, on the site you are entering may vary from McDonald's viewpoints and policies. Please be sure to review the policies of every site you visit. McDonald's is not responsible for the opinions, policies, statements or practices of any other companies, such as those that may be expressed in the web site you are entering.
                                                    </span>
                                                </div>
                                                <button type="button" class="btn btn-prm-outline" data-dismiss="modal">No, Cancel</button>
                                                <a href="https://www.ubereats.com/en-US/mcdonalds/?utm_source=mcdonalds_US&utm_medium=website&utm_content=homepage" class="btn btn-prm1" target="_blank">Yes, Continue</a>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="nav2">
                        <ul>
                            <li><a href="/" class="active">Home</a></li>
                            <li><a href="/drinks">Drinks</a></li>
                            <li><a href="/about">About_us</a></li>
                            <li><a href="/deals">Deals</a></li>
                            <li><a href="/trending_now">Trending Now</a></li>
                            <li><a href="/foods">Our Foods</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="line"></div>
    </header>
<script src="{% static 'js/bootstrap.min.js'%}"></script>
<script src="{% static 'js/main.js'%}"></script>
<script src="{% static 'js/jquery-3.3.1.slim.min.js'%}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>